/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.float-wrapper:before,
.float-wrapper:after {
  content: "";
  display: table;
}
.float-wrapper:after {
  clear: both;
}
.float-wrapper {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

/*
  ========================================
  Imports
  ========================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');


/*
  ========================================
  Text & Fonts
  ========================================
*/

html {
  text-align: center;
  font-family: "Roboto",sans-serif;
  color: #424242;
}

body {
  font-size: 100%; }

h1 {
  font-size: 4em; }
h2 {
  font-size: 3.5em; }
h3 {
  font-size: 3em; }
h4 {
  font-size: 2.5em; }
h5 {
  font-size: 2em; }
h6 {
  font-size: 1.5em; }
p {
  font-size: 1em;
  color: #616161;
 }



/*
  ========================================
  Responsiveness
  ========================================
*/

  @media (max-width: 601px) {
    body {
      font-size: 80%; }
    /*.question-zone > .grid, .answer-zone .grid  {
      width: 85%;
    }*/

    }

  @media (min-width: 993px) {
    body {
      font-size: 120%; }
    /*.question-zone > .grid, .answer-zone .grid  {
      width: 80%;
    }
    .question-zone {
      width: 50%;
      float: left;
    }
    .answer-zone {
      width: 50%;
      float: left;
    }*/
    }

  @media (min-width: 1200px) {
    body {
      font-size: 140%; }
    /*.question-zone > .grid, .answer-zone .grid  {
      width: 70%;
    }*/
    }


/*
  ========================================
  Header
  ========================================
*/

#nav-burger, nav li {
  float: right;
  color: #fff;
}

#nav-logo img {
  float: left;
  height: 3.5rem;
  padding: 0.25rem 1rem;
}

#nav-burger {
  line-height: 4rem;
  padding: 0 1rem;
  display: none; /* Hiding when normal size.  */
}

nav li {
  line-height: 4rem;
  padding: 0 1rem;
  font-size: 2rem;
}

nav {
  height: 4rem;
  background: #455A64;
}

/*
  ========================================
  Footer
  ========================================
*/


footer {
  padding:  1rem 0;
  font-size: 0.7rem;
  color: #fff;
  background: #455A64;
}


/*
  ========================================
  LandingPage
  ========================================
*/

.puzzle-list h2 {
  margin: 0.5em 0 ;
}

.puzzle-name {
  padding: 0.5em 0 ;
}


.puzzle-builder-button {
  padding: 1em 1em ;
  font-size: 1em;
  margin: 1em 1em ;
  border-radius: 2em;
}

.puzzle-page  {
  width: 90%;
  margin: 1em auto;
}

/*
  ========================================
  FlexGrid
  ========================================
*/
.flex-row {
    display: flex;
}

.flex-cell {
    /*margin: 5px;*/
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*flex-grow: 1;*/
}

/*
  ========================================
  QuestionZone
  ========================================
*/

.question-zone {
  margin: 0 auto;
}

.wrap-row {
    display: flex;
    flex-wrap: wrap;
}


.logical-condition {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #78909C;
  margin: 0.75em;
  /*padding: 0.5em;*/
  border-radius: 1em;

}

.selector-banner {
  background-color: #546E7A;
  border-radius: 1em 1em 0 0;
}

.selector-banner img {
  width: 3em;
  margin: 0.5em auto;
}


.logical-condition .flex-grid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em auto;
}


.logic-cell {
  display: flex;
  width: 3em;
  height: 3em;
  margin: 0.2em;
  border-radius: 0.5em;

}

.logic-cell img {
  width: 3em;
  border-radius: 0.5em;
  align-self: center;
  vertical-align: middle;
}

.white-bg {
  background-color: #fff;
}

.logic-cell div {
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
}


/*
  ========================================
  AnswerZone
  ========================================
*/

.answer-zone{
  width: 100%;
}

.entity-bin {
  width: 80%;
  margin: 1em auto;
}
.entity-bin img {
  padding: 0.25em;
}

.entity-bin img, .drop-zone img {
  width: 6em;
  vertical-align: top;
  margin: 0 auto;
}


.drop-zone-container .grid {
  margin: 0 auto;
  width: 0; /* Makes the grid resize based on the contents */
}

.drop-zone-container .grid td {
  border: none;
}

.drop-zone {
  width: 6em;
  height: 6em;
  background-color: #78909C;
  border-radius: 0.5em;
  margin: 0.15em;
}

/*
  ========================================
  Validation
  ========================================
*/

.valid-false .drop-zone  {
  background: #FF1744;
}

.valid-true .drop-zone  {
  background: #02E676;
}


/*
RESPONSIVE TEXT & LAYOUT
*/
/*


.question-zone > .grid, .answer-zone .grid {
  width: 95%;
}



*/



  /*
  Layout
  */
/*
  .grid {
    margin: 0 auto;
  }

  .grid img {
    width: 33%;
  }

  img {
    width: 20%;
  }

  .question-zone .grid {
    background: #ececec;
  }

  .question-zone .grid td {
    vertical-align: top;
  }

  .logic-cell-display {
    backgroundSize:cover;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.5em;
    border: 0.15em solid rgb(167, 167, 167);
  }
  .logical-condition .grid td {
    border: none;
    vertical-align: top;
  }

  .logical-condition img {
    margin-bottom: 0.5em;
  }




  .entity-bin {
    width: 80%;
    margin: 0 auto;
  }

  .entity-bin img {
    max-width: 5em;
  }*/

  /*
  Validation feedback
  */
/*
  .drop-zone {
    background-color: #E3E3E3;
    height: 6em;
  }


  .valid-false .drop-zone  {
    background: #FF9385;
  }

  .valid-true .drop-zone  {
    background: #8DFF8C;
  }*/
