/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.float-wrapper:before,
.float-wrapper:after {
  content: "";
  display: table;
}
.float-wrapper:after {
  clear: both;
}
.float-wrapper {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

/*
  ========================================
  Imports
  ========================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');


/*
  ========================================
  Text & Fonts
  ========================================
*/

html {
  text-align: center;
  font-family: "Roboto",sans-serif;
  color: #424242;
}

body {
  font-size: 100%; }

h1 {
  font-size: 4em; }
h2 {
  font-size: 3.5em; }
h3 {
  font-size: 3em; }
h4 {
  font-size: 2.5em; }
h5 {
  font-size: 2em; }
h6 {
  font-size: 1.5em; }
p {
  font-size: 1em;
  color: #616161;
 }

a {
 text-decoration: none;
}





/*
  ========================================
  Responsiveness
  ========================================
*/

  @media (max-width: 600px) {
    body {
      font-size: 75%; }
    }

  @media (min-width: 601px) {
    body {
      font-size: 90%; }
    }

  @media (min-width: 993px) {
    body {
      font-size: 100%; }
    }

  @media (min-width: 1200px) {
    body {
      font-size: 105%; }
    }


/*
  ========================================
  Header
  ========================================
*/

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*.content-wrapper {
  margin-top: 4rem;
}*/

nav {
  background: #455A64;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

nav li {
  line-height: 4rem;
  font-size: 2rem;
  float: left;
}

nav li a {
  display: block;
  padding: 0 1rem;
}

nav a:visited {
  color: #fff;
}
nav a:link {
  color: #fff;
}

nav a:hover, #nav-burger:hover {
  background-color: #fff;
  color: #455A64;
}

#nav-burger, nav ul {
  float: right;
  color: #fff;
}

#nav-logo img {
  float: left;
  height: 3.5rem;
  padding: 0.25rem 1rem;
}

#nav-burger {
  line-height: 4.5rem; /* larger than normal in order to centre it */
  padding: 0 1rem;
  display: none; /* Hiding when normal size.  */
}

@media (max-width: 600px) {
  #nav-burger {
    /*float: none;*/
    display: inline;
    height: 4rem;
    }
  nav ul {
    height: auto;
    display: none;
    float: none;
    margin-top: 4rem;
    background-color: #78909C;
    color: #fff;
  }
  nav li {
    float: none;
    color: #fff;
  }

  .open-nav ul {
    display: block;

  }
  .open-nav li {
    animation-name: open;
    animation-duration: 0.5s;
  }
  .open-nav li a {
    transform: scaleY(1);
    animation-name: open-text;
    animation-duration: 0.5s;
  }
  .closed-nav li {
    height: 0;
    animation-name: close;
    animation-duration: 0.5s;
  }
  .closed-nav li a {
    transform: scaleY(0);
    animation-name: close-text;
    animation-duration: 0.5s;
  }
  .closed-nav ul {
    display: block;
  }
}


@keyframes open {
  from {height: 0;}
  to {height: 4rem;}
}

@keyframes open-text {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}

@keyframes close {
  from {height: 4rem;}
  to {height: 0rem;}
}

@keyframes close-text {
  from {transform: scaleY(1);}
  to {transform: scaleY(0);}
}


/*
  ========================================
  Footer
  ========================================
*/


footer {
  padding:  1rem 0;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.4);
  background: #455A64;
}

/* Sticky footer */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}


/*
  ========================================
  LandingPage
  ========================================
*/


.puzzle-list h2 {
  margin: 0.5em 0 ;
}

.puzzle-name {
  padding: 0.5em 0 ;
  cursor: pointer;

}

.landing button {
  background-color: #DFDFDF;
  font-size: 1.5em;
  color: #A5A5A5;
  box-shadow: none;

}

.landing button:hover {
  background-color: #DFDFDF;
  /*color: #fff;*/
  cursor: default;

}

.landing button:focus  {
    outline: none;
}

/*
  ========================================
  FlexGrid
  ========================================
*/
.flex-row {
    display: flex;
}

.flex-cell {
    /*margin: 5px;*/
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*flex-grow: 1;*/
}


/*
  ========================================
  PuzzlePage
  ========================================
*/

.puzzle-page  {
  width: 90%;
  margin: 1em auto;

}


@media (max-width: 600px) {
  .puzzle-page  {
    width: 90%;
  }
  .question-zone, .answer-zone {
    width: 100%;
  }
  .answer-zone  {
    margin-top: 2em;
  }
  }

@media (min-width: 601px) {
  .puzzle-page  {
    width: 90%;
  }
  .question-zone, .answer-zone {
    width: 100%;
  }
  .answer-zone  {
    margin-top: 2em;
  }
  }

@media (min-width: 993px) {
  .puzzle-page  {
    width: 90%;
  }
  .question-zone, .answer-zone {
    width: 50%;
  }
  .answer-zone  {
    /*margin-left: 1em;*/
  }
  }

@media (min-width: 1200px) {
  .puzzle-page  {
    width: 90%;
  }
  .question-zone, .answer-zone {
    width: 50%;
  }
  .answer-zone  {
    /*margin-left: 1em;*/
  }
  }


/*
  ========================================
  QuestionZone
  ========================================
*/

.question-zone {
  /*width: 100%;*/
  margin: 0 auto;
  float: left;
}

.wrap-row {
    display: flex;
    flex-wrap: wrap;
}


.logical-condition {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #78909C;
  margin: 0.5em;
  border-radius: 1em;

}

.selector-banner {
  background-color: #546E7A;
  border-radius: 1em 1em 0 0;
}

.selector-banner img {
  width: 3em;
  margin: 0.5em auto;
}


.logical-condition .flex-grid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em auto;
  padding: 0.5em;

}


.logic-cell {
  display: flex;
  width: 3em;
  height: 3em;
  margin: 0.2em;
  border-radius: 0.5em;

}

.logic-cell img {
  width: 3em;
  border-radius: 0.5em;
  align-self: center;
  vertical-align: middle;
}

.white-bg {
  background-color: #fff;
}

.logic-cell div {
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
}


/*
  ========================================
  AnswerZone
  ========================================
*/

.answer-zone{
  /*width: 100%;*/
  background-color: #78909C;
  border-radius: 1.5em;
  float: left;
}

.entity-bin {
  border-radius: 1.5em 1.5em 0 0;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #546E7A;
}
.entity-bin img {
  padding: 0.25em;
}

.entity-bin img, .drop-zone img {
  width: 6em;
  vertical-align: top;
  margin: 0 auto;
}


.drop-zone-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.drop-zone {
  width: 6em;
  height: 6em;
  background-color: #fff;
  border-radius: 0.75em;
  padding: 0.5em;
  margin: 0.3em;
  display: flex;
  align-items: center;
}


.answer-zone button:focus  {
    outline: none;
}

button {
  min-width: 10em;
  padding: 1em 1em ;
  font-size: 1em;
  margin: 1em 1em ;
  border-radius: 2em;
  border: none;
  box-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #ECEFF1;
  /*color: #fff;*/
  cursor: pointer;
}

/*
  ========================================
  Validation
  ========================================
*/

.valid-false .drop-zone  {
  background-color: #FF1744;
}

.valid-true .drop-zone  {
  background-color: #02E676;
}

/*
  ========================================
  Puzzle Page Responsiveness
  ========================================
*/
